<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhf.sportMeeting.repository.mapper.SportMapper" >
  <resultMap id="BaseResultMap" type="com.lhf.sportMeeting.domain.entity.Sport" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="start_at" property="startAt" jdbcType="TIMESTAMP" />
    <result column="end_at" property="endAt" jdbcType="TIMESTAMP" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>